@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <p>@Model.ToString()</p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var serviceURL = '/Home/GetAjaxValue';

            $.ajax({
                type: "POST",
                url: serviceURL,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                alert(data);
            }

            function errorFunc() {
                alert('error');
            }
        });
    </script>
}